<h1>Register for Code Shoe-camp!</h1>

<form action="/students" method="POST">
  <label for="name_input">Name:</label>
  <input type="text" name="student[name]" id="name_input">

  <label for="name_input">Github username:</label>
  <input type="text" name="student[github_username]" id="github_username_input">
  <input type="submit">
</form>
